.dropdown-colour button {
  color: white;
}
.profile img {
  border-radius: 50%;
  width: 500px; 
  height: 330px;
}

a {
  color: white;
}

.profile {
  padding-top: 75px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.about-me {
  margin-top: 35px;
  width: 60%;
}

.footerflex {
  display: flex;
  justify-content: space-around;
}

.projects {
  padding-top: 100px;
  padding-bottom: 50px;
  width: 80%;
  margin: auto;
}

.projects a {
  color: blue;
}

.project-description {
  width: 50%;
  padding: 10px 0;
}

.project-flex {
  display: flex;
  justify-content: space-around;
}

.tweeter img {
  width: 200px; 
  height: 60px;
}
.shoot-io img {
  width: 200px; 
  height: 60px;
}
.scheduler img {
  width: 200px; 
  height: 60px;
}
.quizo img {
  width: 200px; 
  height: 60px;
}

.shoot-io a {
  padding: 65px 0;
}

.scheduler a {
  padding: 100px 0;
}

.tweeter a {
  padding: 50px 0;
}

.quizo a {
  padding: 50px 0;
}


@media only screen and (max-width: 750px) {
  .profile img {
    border-radius: 50%;
    width: 300px; 
    height: 198px;
  }

  .about-me {
    width: 95%;
  }

  .project-flex {
    display: flex;
    flex-direction: column;
  }
  
  .project-description {
    width: 100%;
    padding: 10px 0;
  }

  .project-flex a {
    padding: 10px 0;
    text-align: center;
  }
  
  .project-flex a {
    padding: 10px 0;
    text-align: center;
  }
  
  .project-flex a {
    padding: 10px 0;
    text-align: center;
  }
  
  .project-flex a {
    padding: 10px 0;
    text-align: center;
  }
}